@import './theme.css';

:root {
  --space-sm: 10px;
  --space-md: 20px;
  --space-lg: 30px;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--clr-bg);
  font-size: 18px;
  color: #4d4d4d;
}
#app {
  height: 100%;
}
p{
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

select {
  height: 40px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

button:hover {
  background-color: #0056b3;
}

.alert.error {
  background: rgb(255, 216, 222);
  color: #8d1414;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 0.8rem;
}

.space-y-md > *{
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}

.space-y-sm > *{
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.space-y-sm > *:first-child,
.space-y-md > *:first-child {
  margin-top: 0;
}
.space-y-sm > *:last-child,
.space-y-md > *:last-child {
  margin-bottom: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-md {
  margin-top: var(--space-md);
}

.mt-sm {
  margin-top: var(--space-sm);
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

.relative {
  position: relative;
}

.no-wrap {
  white-space: nowrap;
}

.break-word {
  word-break: break-word;
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
