:root {
    /* -------- Colors ----------*/
    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-grey: #595959;
    --clr-accent: #820097;
    --clr-danger: #F24E1E;

    /* ------ Typography ------- */
    --fs-base: 16px;
    --fs-sm: 0.7rem;
    --fs-xs: 0.5rem;
    --fs-md: 1.25rem;
    --fs-lg: 1.5rem;
    --fs-xl: 1.75rem;

    /*------- Spacing -----------*/
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.25rem;
    --space-xl: 1.5rem;
}

* {
    font-family: inherit;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}

html,
body {
    font-size: var(--fs-base);
    font-family: "Open Sans", sans-serif;
}

.font-body {
    font-family: "Open Sans", sans-serif;
}
.font-h {
    font-family: "Space Grotesk", sans-serif;
}
